{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "html",
    "vue"
  ],
  "extends": [
    "vue"
  ],
  "rules": {
    "arrow-parens": 0,
    "generator-star-spacing": 0,
    "space-before-function-paren": [
      "error",
      "never"
    ]
  }
}
